In [1]:
import pandas as pd

<b> A) Read Dataset </b>

In [2]:
df = pd.read_csv("https://github.com/mpourhoma/CS4661/blob/3827e6301f39575dd26ea25c21605119bdac97b8/Credit.csv?raw=true")

<b> B) Check Dataset</b>

In [3]:
df

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
..       ...    ...     ...    ...  ...        ...      ...      ...
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

In [4]:
df.describe()

,Income,Limit,Rating,Cards,Age,Education,Married,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000
mean,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,0.61250,520.015000
std,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,0.48779,459.758877
min,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.00000,0.000000
25%,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,0.00000,68.750000
50%,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,1.00000,459.500000
75%,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,1.00000,863.000000
max,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1.00000,1999.000000

<b> C) Create feature and label </b>

In [5]:
maindf = df
label = maindf[["Balance"]]
features = maindf.drop(["Balance"],axis=1)

In [6]:
from sklearn.preprocessing import scale

In [7]:
from sklearn.preprocessing import MinMaxScaler

norm = MinMaxScaler().fit(features)

In [8]:
scale_features = norm.transform(features)

<b> D) Train Test Split </b>

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(scale_features, label, test_size=0.24, random_state=4)

<b> E) Linear Regression </b>

In [11]:
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics

In [12]:
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression()

In [13]:
features.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married'], dtype='object')

In [14]:
importance = linear.coef_
for i,v in enumerate(importance[0]):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -1327.01928
Feature: 1, Score: 747.64112
Feature: 2, Score: 2752.94751
Feature: 3, Score: 85.99096
Feature: 4, Score: -129.65620
Feature: 5, Score: 8.06528
Feature: 6, Score: -41.47581

<b> F) Testing and validation </b>

In [15]:
y_pred = linear.predict(X_test)

In [16]:
from sklearn import metrics
import numpy as np

In [17]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 161.51385491175333

In [18]:
result_df = pd.DataFrame()
result_df["y_actual"] = y_test["Balance"].tolist()
result_df["y_pred"] = y_pred.tolist()
result_df

    y_actual                y_pred
0       1448  [1401.9282166431137]
1        203  [372.39049807756135]
2        108   [309.6069969777469]
3        823   [775.5878366491302]
4        298  [363.64190998092636]
..       ...                   ...
91       976   [964.0208348626525]
92       903  [505.52949248965524]
93      1050  [1086.5997538242857]
94         0  [-263.3445221298903]
95         0    [99.3883437690173]

[96 rows x 2 columns]

In [19]:
result_df

    y_actual                y_pred
0       1448  [1401.9282166431137]
1        203  [372.39049807756135]
2        108   [309.6069969777469]
3        823   [775.5878366491302]
4        298  [363.64190998092636]
..       ...                   ...
91       976   [964.0208348626525]
92       903  [505.52949248965524]
93      1050  [1086.5997538242857]
94         0  [-263.3445221298903]
95         0    [99.3883437690173]

[96 rows x 2 columns]

<b> G) Cross Validation </b>

In [20]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from numpy import mean
from numpy import std

In [21]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [22]:
linearmod = LinearRegression()
cv = KFold(n_splits=10)
score = cross_val_score(linearmod, scale_features, label, cv= cv, scoring="neg_mean_squared_error")
rmse(score.mean())

rmse= 162.63